<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="PriceComponentManagerApi" value="http://localhost:36937/api/" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="PriceComponentManagerConnection" connectionString="data source=.\SQL2012;initial catalog=PriceComponentManager;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>